# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Environments & Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Database and Data Storage
data/
*.db
*.db-journal
*.sqlite

# IDEs / Editors
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings/

# OS-specific files
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs & Caches
*.log
.cache/
.pytest_cache/
.mypy_cache/
